:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 180px;
  font-size: 12px;
  min-height: 100vh;
  background-color: var(--vscode-editor-background, #212121);
  padding: 0 12px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: var(--vscode-editor-background);
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: var(--vscode-editor-background);
  }
}
